.image {
    margin: 20px;
    margin-right:1px;
}

.topup {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
}

.title {
    margin: 10px;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigation {
    float: left;
    margin: auto;
    margin-right: 30px;
    font-size: 25px;
}

ul li {
    display: inline;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero {
    color: white;
    background-color: orange;
}

.about-me {
    text-align: center;
    border: black;
    box-shadow: 5px 5px 5px #999;;
}

.recent-work {
    box-shadow: 5px 5px 5px #999;;
}

.contact {
    box-shadow: 5px 5px 5px #999;;
}

@media only screen and (max-width: 600px) {
    .about-me, .recent-work, .contact, .content, .main {
      width: 100%;
      padding-right: 50px;
      justify-content: center;
    }
}