.image {
    margin: 20px;
    margin-right:1px;
}

.topup {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
}

.title {
    margin: 10px;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigation {
    float: left;
    margin: auto;
    margin-right: 30px;
    font-size: 25px;
}

ul li {
    display: inline;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero {
    background-color: orange;
}

.about-me {
    text-align: center;
    box-shadow: 5px 5px 5px #999;;
}

#about-me {
    background-color: #FFCA16;
    margin-top: 30px;
}

.recent-work {
    box-shadow: 5px 5px 5px #999;;
}

.contact {
    box-shadow: 5px 5px 5px #999;;
}

#about-me section h2 {
    margin-left: 25%;
    margin-right: 25%;
}

#recent-work section h1 {
    text-align: center;
}

#contact section h1 {
    text-align: center;
}

#recent-work section h2 {
    text-align: center;
}

#recent-work section .recent-images {
    display: flex;
    flex: auto;
    justify-content:space-around;
}
