.image {
    margin: 20px;
}

.topup {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
}

.title {
    margin: 10px;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigation {
    float: left;
    margin: auto;
    margin-right: 30px;
    font-size: 25px;
}

ul li {
    display: inline;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
